
/* 
    Created on : 22/03/2016, 10:04:50 AM
    Author     : Juan
*/
/*
 * CSS SIV
 */

html{
    height: 100%;
}

.menu {
    float: right !important;
    margin-top: 15px;
    width: 900px;
}

.logoBanner{	 
    background-image:url("../resources/img/bannerChonajos.jpg");
    background-repeat: no-repeat;
    height: 70px; 
    width:30%;
    margin-right: 0px;
}

.calendario input 
{
    width:105px;
}
.statusActivo
{
    color:green;
}
.statusInactivo
{
    color:red;
}
.statusPagado
{
    color:darkorange;
}
.statusEntregado
{
    color:#4cae4c;
}
.statusPedido
{
    color:deepskyblue;
}

.ui-widget-content a{
    color: #039 !important;
}

.ui-widget .ui-widget {
    font-size:0.9em !important;
}
/*Tamaño de titulo de las graficas*/
.jqplot-title{
    font-size:1.0em !important;
}
/*Se modifica el tamaño del los componentes de las tablas*/
.ui-datatable-selectable{
    font-size: 12px!important;
} 

/*Se cambio el tamaño del contenido de las tablas*/
.ui-datatable tbody td
{font-size: 12px!important;
}

/*Se cambio el tamaño del componente h4*/
.h3, h3 {
    font-size: 18px;
}

.menuTercerNivel {
    margin-left: 30px !important;
}

/*menu*/
.ui-menu .ui-menu-parent .ui-menu-child {
    width: 13.5em !important;
}


.ui-selectonemenu {
    width: 100% !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 23px !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
    width: 100% !important;
}

.ui-selectonemenu-label .ui-inputfield .ui-corner-all {
    width: 100%;
}

.selects .ui-selectonemenu-list-item {
    width: 99px !important;
    font-size: 10px !important;
    font-family: Verdana, sans-serif;
}

.selects .ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: #761c19;
    width: auto !important;
    background-image: linear-gradient(to bottom, #4cae4c, #00a3d8);
}

.selects .ui-widget-content .ui-state-hover {
    color: #761c19;
    width: auto !important;
    background-image: linear-gradient(to bottom, #4cae4c, #00a3d8);
}

@media ( max-width : 767px) {
    .navbar {
        border-radius: 4px;
        height: 30px !important;
        border-bottom: 4px;
        border-bottom: 2px solid #3A3232 !important;
       
    }
  
    body {
        padding-top: 50px; 
        background-image:none !important;  		
        height: 100%; 
    }
}
@media (max-width : 767px){
    .padinTopRes{
     padding-top:1px;
    }
    
}

@media (min-width : 767px){
    .padinTopRes{
     padding-top:120px;
    }
    
}

