
/* 
    Created on : 22/03/2016, 10:04:50 AM
    Author     : Juan
*/
/*#4285F4
 * CSS SIV
 */

html{
    height: 100%;
}

.menu {
    float: right !important;
    margin-top: 15px;
    width: 900px;
}

.logoBanner{	 
    background-image:url("../resources/img/bannerChonajos.jpg");
    background-repeat: no-repeat;
    height: 70px; 
    width:30%;
    margin-right: 0px;
}

.calendario input 
{
    width:105px;
}
.statusActivo
{
    color:green;
}
.statusInactivo
{
    color:red;
}
.statusPagado
{
    color:darkorange;
}
.statusEntregado
{
    color:#4cae4c;
}
.statusPedido
{
    color:deepskyblue;
}

.menuPrincipal{
    font-weight: bold;
}

.ui-widget .ui-widget {
    font-size:0.9em !important;
}
/*Tamaño de titulo de las graficas*/
.jqplot-title{
    font-size:1.0em !important;
}
/*Se modifica el tamaño del los componentes de las tablas*/
.ui-datatable-selectable{
    font-size: 12px!important;
} 
.ui-datatable-selectable thead th{

    font-size: 14px!important;
}

/*Se cambio el tamaño del contenido de las tablas*/
.ui-datatable tbody td
{font-size: 12px!important;
}
.ui-datatable thead th
{
    font-weight: normal ;    
    font-size: 14px!important;
}

/*Se cambio el tamaño del componente h4*/
.h3, h3 {
    font-weight: bold;
    font-size: 17px;
}

.menuTercerNivel {
    margin-left: 30px !important;
}

.ui-priority-primary{
    color:white;
    background-color:#0088cc  !important;  
}

.ui-selectonemenu{
    width: inherit !important;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary{
    /*background-image:linear-gradient(to bottom, #DCDCDC, rgb(208, 209, 212)) !important;*/
    background-color:#0081c2;
}

.ui-state{
    background-color:#00acd6  !important;  
}
/*Color azul a los botones*/
.ui-button-text{
    background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);
    color: white;
    border-radius: 5px;
    border: 1px solid #0016b0 !important;
}
.ui-state-error{
    color: black !important;
    background:none !important;
}
/*Label a la derecha*/
div label{
    text-align: right !important;
}

/*quitar bordes de paneles*/
.ui-panel .ui-panel-content{
    padding: 0.0em 0em !important;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    
}
/*quitar bordes de paneles*/
/*Letra mas chica en combos*/
select{
    font-size: 0.9em !important;
}
/*cortar label */
/*div label { 
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:100px;
}
div label:hover{
    overflow:visible;
    white-space:initial;
}*/
/*cortar label*/
/*Letra mas chica en combos*/
button span:hover{
    font-weight: bold;
    color:#0088cc;
    background-image:-webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
}

/*alinght left*/
.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}
.alignCenter{
    text-align:center;
}


@media ( max-width : 767px) {
    .navbar {
        border-radius: 4px;
        height: 30px !important;
        border-bottom: 4px;
        border-bottom: 2px solid #3A3232 !important;

    }

    body {
        padding-top: 50px; 
        background-image:none !important;  		
        height: 100%; 
    }
}
@media (max-width : 767px){
    .padinTopRes{
        padding-top:1px;
    }

}

@media (min-width : 767px){
    .padinTopRes{
        padding-top:120px;
    }

}

