
/* 
    Created on : 22/03/2016, 10:04:50 AM
    Author     : Juan
*/
/*
 * CSS Choanajos
 */

html{
  height: 100%;
}

.menu {
	float: right !important;
	margin-top: 15px;
	width: 900px;
}

.logoBanner{	 
	 background-image:url("../resources/img/bannerChonajos.jpg");
	 background-repeat: no-repeat;
	 height: 70px; 
	 width:30%;
	 margin-right: 5px;
}

.calendario input 
{
    width:105px;
}
.statusActivo
{
    color:green;
}
.statusInactivo
{
    color:red;
}
.statusPagado
{
    color:darkorange;
}
.statusEntregado
{
    color:#4cae4c;
}
.statusPedido
{
    color:deepskyblue;
}
